%h1= @snippet.title
%h5
  By
  = @snippet.user.email
  %span.label.label-primary= @snippet.language
= @snippet.syntaxed_code
%h4
  %b Price:
  = @snippet.human_price
- unless @snippet.description.blank?
  .well
    %p
      %strong Description
    %p= @snippet.description

.btn-group
  - if can? :manage, @snippet
    = link_to 'Edit', edit_snippet_path(@snippet), class: 'btn btn-default'
  = link_to 'Back', snippets_path, class: 'btn btn-default'
