!!!
%html

  %head
    %title
      - if content_for? :title
        = yield(:title)
        = " - "
      Snippet Marketplace
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = favicon_link_tag
    = yield(:head)

  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .container-fluid

        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} Snippet Central

        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
          %ul.nav.navbar-nav.navbar-right
            %form.navbar-form.navbar-left{role: "search"}
              .form-group
                = form_tag "/", method: :get do
                  = text_field_tag :search, params[:search], placeholder: "Search Code Snippets", class: 'form-control'
                  %button.btn.btn-default{type: "submit"} Search
            - if user_signed_in?
              %li.dropdown
                = link_to "#", class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
                  = current_user.email
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li
                = link_to "Sign Up", new_user_registration_path
              %li
                = link_to "Log In", new_user_session_path

    - if notice
      .alert.alert-success= notice
    - if alert
      .alert.alert-danger= alert
    .container
      = yield
    %footer.container
      %hr
      %p © 2014 Snippet Marketplace